**/bin/*
**/obj/*
/.vs/statisticker/v16/TestStore/0/testlog.manifest
/.vs/statisticker/v16/TestStore/0/000.testlog
/.vs/statisticker/v16/TestStore/0
/.vs/statisticker/v16/.suo
/.vs/statisticker/v16
/.vs/statisticker/DesignTimeBuild/.dtbcache.v2
